@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 12 12 16;
  --panel: 18 18 24;
  --border: 255 255 255;
}

html, body {
  height: 100%;
}

body {
  background: rgb(var(--bg));
  color: white;
}
